<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/home.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/styleup.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Management System</title>
</head>
<body>
  <h1 class="homepage">WELCOME TO AKISOFT NIGERIA ENTERPRISES THE ABODE OF INTELLECTUAL INDIVIDUALS</h1>
  
</body>
</html>