<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>EMPLOYEE MANAGEMENT SYSTEM</title>         
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>



<h1 style="text-align: center;">Welcome To The Abode Of Intelligent And Intellect Individuals</h1>
<div class="bgImage">
  <form action="/home" method="post">
    <div class="imgcontainer">
      <img src="/img/employee.jpg" alt="employee" class="employee">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Your Email Address" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="password" required>
          
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> 
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="/forgotPassword">Password?</a></span>
    </div>
  </form>
  </div>
  <script src="/js/home.js"></script>
</body>
</html>